
  @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&display=swap');


html{
  box-sizing: border-box;
  background-color:whitesmoke;
  width: 100%;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: 'sans-serif';
}

.header{
  color: rgb(10, 10, 10);
  align-items: center;
  margin: 2% 0 2% 6%;
  width: 100%;
  display: inline;
}


.header article{
  margin: 0.5% 6%;
  font-size: 22px;
  color: #2086fc;
}


.imagen-b{
  object-fit: contain;
  width: 80%;
  height: 80%;
}

.principal{
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  height: 60vh;
  justify-content: center;
}

.article_main{
  width: 60%;
  text-align: center;
}

.article_second,.article_third{
  width: 40%;
  text-align: center;
}

.article_third{
  display: none;
}

.label{
  color: #20201f;
  font-size: 1rem;
  display: block;
  padding: .9%;
}

.parrafo, .mensaje-info{
  text-align: center;
  color: #141414;
  padding: 2px
}

.original, .segunda{
  width: 80%;
  height: 350px;
  resize: none;
  font-size: 20px;
  border-radius: 12px;
  padding: 10px;
  border: none;
}

.original{
  background-color: #ebe8e8;
  color: #141414;
}

.original::placeholder{
  color: #141414;
}

.segunda{
  background-color: #e6e1e1;
  color: #141414;
}

.boton{
  text-align: center;
  font-size: 1rem;
  width: 20%;
  height: 6vh;
  background-color: #2086fc;
  color: rgb(244, 248, 248);
  font-size: 16px;
  border-radius: 10px;
  border: none;
}
.boton:hover{
  background-color: #8b8b8b;
  border: 1px solid #141414;
  
}
.footer{
  float: right;
  margin-right: 7%;
  margin-top: 10%;
}
.footer p{
  color: #696868;
}
.footer strong{
  color: #2086fc;
}



@media (max-width: 950px){
  .principal{
    display: block;
    width: 100%;
  }

  .header{
    margin: 4% 0 4% 10%;
  }
  .header .logo{
    margin-left: 4%;
  }
  .header article{
    margin-left: 10%;
  }
  
  .article_main{
    width: 100%;
    text-align: center;
    margin-bottom: 4rem;
  }
  
  .article_second,.article_third{
    width: 100%;
    text-align: center;
  }
  
  .article_third{
    display: none;
  }

  .original, .segunda{
    width: 80%;
    height: 250px;
  }

  .boton{
    text-align: center;
    font-size: 1rem;
    width: 40%;
    height: 6vh;
  }

  .imagen-b{
    width: 40%;
  }
  .footer p{
    text-align: center;
  }

 
}

@media (max-width: 950px) and (orientation: portrait){
  .principal{
    display: block;
    width: 100%;
  }

  .header{
    margin: 4% 0 4% 10%;
  }
  
  .article_main{
    width: 100%;
    text-align: center;
    margin-bottom: 4rem;
  }
  
  .article_second,.article_third{
    width: 100%;
    text-align: center;
  }
  
  .article_third{
    display: none;
  }

  .original, .segunda{
    width: 80%;
    height: 250px;
  }

  .boton{
    text-align: center;
    font-size: 1rem;
    width: 27%;
    height: 6vh;
  }

  .imagen-b{
    width: 40%;
  }
  .footer{
    align-items:center;
  }
  .footer p{
    text-align: center;
  }

  
}

@media (max-width: 480px) and (orientation: portrait){
  .header{
    margin: 14% 0 4% 10%;
  }
  
  .label{
    font-size: smaller;
  }

  .article_main{
    width: 100%;
    margin-bottom: 1rem;
  }
  
  .article_second,.article_third{
    width: 100%;
  }

  .original, .segunda{
    width: 80%;
    height: 150px;
    font-size: small;
  }

  .original, .segunda::placeholder{
    font-size: small;
  }

  .boton{
    text-align: center;
    font-size: 0.8rem;
    width: 40%;
    height: 6vh;
  }

  .mensaje-info{
    font-size: 1rem;
  }

  .parrafo{
    font-size: 0.8rem;
  }

  .imagen-b{
    width: 40%;
  }

  
}

@media (max-height: 480px) and (orientation: landscape){
  .header{
    margin: 1% 0 3% 6%;
  }

  .article_main{
    width: 50%;
    text-align: center;
  }
  
  .article_second,.article_third{
    width: 50%;
    text-align: center;
  }

  .original, .segunda{
    height: 100px;
    font-size: 0.8rem;
  }

  .original, .segunda::placeholder{
    font-size: 0.8rem;
  }

  .mensaje-info{
    font-size: 0.8rem;
  }

  .parrafo{
    font-size: 0.7rem;
  }

  .label{
    font-size: 0.8rem;
    margin-bottom: 0.4rem;
    margin-top: 0.4rem;
  }

  .imagen-b{
    width: 50%;
    height: 50%;
  }

  .boton{
    text-align: center;
    font-size: 0.8rem;
    width: 40%;
    height: 8vh;
  }
}